<link href="stylesheets/aboutMeStyle.css" rel="stylesheet">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/images/mustahce.png" width="30" height="65">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item nav-hide" href="/portfolio">My work so far</a>
            <a class="navbar-item nav-hide" href="/aboutme">Learn more about Ben</a>
            <a class="navbar-item nav-hide" href="/contact">Contact Ben</a>
        </div>

    </div>
</nav>
<div class="parallax"></div>
<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Ben Knight
                </h1>
                <h2 class="subtitle">I am located in Salt Lake City, Utah. I enjoy everything
                    outdoors, from rock climbing to remote backpacking.
                    I even had the opportunity to work as a white water river guide for 5 seasons.
                </h2>
                <h2 class="subtitle">Other hobbies I enjoy are carpentry, gardening, and anything else that lets me
                    create, build, or grow. </h2>

            </div>
        </div>
    </section>
</div>
<div class="parallax1"></div>
<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    About me:
                </h1>
                <h2 class="subtitle">
                    I have a passion for creating and building things. Web development was introduced to
                    me by accident, but the same aspects that bring me joy in my personal hobbies, I found in coding.
                    Things like problem solving, searching relentlessly for answers, finding/creating logical and
                    efficient processes.
                </h2>
                <h2 class="subtitle">
                    I am a loyal and naturally curious person, constantly looking to improve myself and those around me.
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="parallax2"></div>