<link rel="stylesheet" href="stylesheets/contactme.css">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="ben.jpg" width="40" height="28">
        </a>

        <a role="button" class="navbar-burger burger txtWht" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item nav-hide txtWht" href="/aboutme">Learn more about Ben!</a>
            <a class="navbar-item nav-hide txtWht" href="/contact">Contact Ben!</a>
            <a class="navbar-item nav-hide txtWht" href=""></a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item"></a>
            <a class="navbar-item"></a>
            <a class="navbar-item"></a>

        </div>
    </div>
</nav>
<br>

<section class="hero mainContainer">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Contact Me!
            </h1>
            <h2 class="subtitle">
                I respond to all messages!
            </h2>
        </div>
    </div>
</section>
<br>
<div class="mainContainer">
<main class="container">
    <div class="section">
    <div class="field">
        <label class="label">Name:</label>
        <div class="control">
            <input class="input" type="text" placeholder="e.g Ben Knight">
        </div>
    </div>

    <div class="field">
        <label class="label">Email:</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. benknight@email.com">
        </div>
    </div>
    <div class="control">
        <label class="label">Message:</label>
        <textarea class="textarea" placeholder="Message"></textarea>
    </div>
    <br>
    <button class="button">Send!</button>
</div>
</main>
</div>