<link rel="stylesheet" href="stylesheets/contactme.css">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="ben.jpg" width="40" height="28">
        </a>

        <a role="button" class="navbar-burger burger txtWht" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item nav-hide txtWht" href="/aboutme">Learn more about Ben!</a>
            <a class="navbar-item nav-hide txtWht" href="/contact">Contact Ben!</a>
            <a class="navbar-item nav-hide txtWht" href=""></a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item"></a>
            <a class="navbar-item"></a>
            <a class="navbar-item"></a>

        </div>
    </div>
</nav>
<br>

<section class="hero mainContainer">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Contact Me!
            </h1>
            <h2 class="subtitle">
                I respond to all messages!
            </h2>
        </div>
    </div>
</section>
<br>
<div class="mainContainer">
<main class="container">

        <p class="txtBlk"><strong>Thank you for your interest,</strong></p>
        <p class="txtBlk"><strong>Please visit my <a href="https://www.linkedin.com/in/benjamin-knight-a0b82119b/">LinkedIn</a> for more information and to send a direct message to me!</strong></p>

</main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/contact.js"></script>