<link rel="stylesheet" href="stylesheets/homeStyle.css">

<main class="html containerMain">
    <div class="wrapperHeroHome">
        <section class="hero heroHome">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title whiteText">
                        Ben Knight
                    </h1>
                    <h2 class="subtitle whiteText">
                        Your Next Developer
                    </h2>

                </div>
            </div>
        </section>
        <span class="blinkMe textCenter arrow whiteText"><i class="fas fa-angle-double-down"
                style="font-size: larger;"></i>
        </span>
    </div>

</main>
<nav class="navbar " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="ben.jpg" width="40" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item nav-hide" href="/aboutme">Learn more about Ben!</a>
            <a class="navbar-item nav-hide" href="/contact">Contact Ben!</a>
            <a class="navbar-item nav-hide" href=""></a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item"></a>
            <a class="navbar-item"></a>
            <a class="navbar-item"></a>

        </div>
    </div>
</nav>

  <section class="section textCenter">
    <div class="container">
      <h1 class="title is-underlined">About</h1>
      <h2 class="subtitle">
          
      </h2>
    </div>
  </section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/home.js"></script>