<div class="parallax"></div>
<div class="container">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Ben Knight
                </h1>
                <h2 class="subtitle">
                    Full-Stack Developer
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="parallax1"></div>
<div class="container">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    About me:
                </h1>
                <h2 class="subtitle">My name is Ben Knight. I am located in Salt Lake City, Utah. I enjoy everything
                    outdoors, from rock climbing to remote backpacking.
                    I even had the opportunity to work as a white water river guide for 5 seasons.
                </h2>
                <h2 class="subtitle">Other hobbies I enjoy are carpentry, gardening, and anything else that lets me
                    create, build, or grow. </h2>
            </div>
        </div>
    </section>
</div>
<div class="parallax2"></div>
<div class="container">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Contact Me!
                </h1>
                <h2 class="subtitle">
                    Let's connect! I have a passion for creating and building things. Web development was introduced to me by accident, but the same aspects that bring me joy in my personal hobbies, I found in coding.
                    Things like problem solving, searching relentlessly for answers, finding/creating logical and efficient processes
                </h2>
            </div>
        </div>
    </section>
</div>