.parallax {
    background-image: url("/images/ben.jpg");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("/images/ben2.jpg");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("/images/ben3.jpg");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

html {
    background-color: rgba(128, 128, 128, 0.904);
}

.hero {
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    .parallax,
    .parallax1,
    .parallax2 {
        background-image: none;
    }
    body,
    html {
        background-color: rgba(19, 19, 19, 0.651);
        margin: 0;
        width: 100%;
        padding: 0;
        overflow-x: hidden;
    }
    /* .wrapperHeroHome {
        position: relative;
    } */
}