html {
    scroll-behavior: smooth;
}

.containerMain {
    height: 100vh;
    background: url(/images/cliff.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.secondContainer {
    height: 100vh;
    background: url(/images/waterfall.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thirdContainer {
    height: 100vh;
    background: url(/images/night.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: rgba(128, 128, 128, 0.904);
}

.level {
    color: white;
    word-wrap: break-word;
}

.homeFontSize {
    font-size: 5em;
}

.homeIcon {
    font-size: 2.5em;
}

.whiteText {
    color: white;
}

.heroHome {
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}

.wrapperHeroHome {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.border {
    border: hotpink;
    border-radius: 5px;
    border-style: dashed;
}

.textCenter {
    width: 100%;
    text-align: center;
}

.is-underlined {
    text-decoration: underline;
}

.wordBreak {
    color: white;
}

.blackBackground {
    background-color: rgba(128, 128, 128, 0.904);
    padding: 20px 0 20px 0;
}

.boxed {
    margin: 1em;
}

.box {
    background-color: rgba(128, 128, 128, 0.904);
}

.portfolioPhoto {
    max-height: 250px;
    max-width: 200px;
}

.aboutSection {
    padding-left: 0;
    padding-right: 0;
}

.tile {
    text-align: center;
}

#is-ancestor {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .containerMain,
    .secondContainer,
    .thirdContainer {
        background-image: none;
    }
    body,
    html {
        background-color: lightblue;
        margin: 0;
        width: 100%;
        padding: 0;
        overflow-x: hidden;
    }
}